.TabNavbar {
  width: auto;
}

.TabsNavbar-nav {
  list-style-type: none;
  padding: 0;
}

.TabsNavbar-nav-link {
  display: flex;
  align-items: center;
  transform-origin: left center;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  transition: background-color 0.3s, transform 0.3s;
  font-size: 20px;
}

.nav-link:hover {
  color: black;
  border: 2px solid white;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

.nav-link.selected {
  background-color: white;
  color: black;
  border: 1px solid grey;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.vertical-text {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  white-space: nowrap;
  text-align: center;
  padding: 20px 0 20px 0;
  color: rgb(102, 102, 102);
  font-size: 40px;
  border-radius: 10px;
  font-family: Helvetica Neue, Tahoma, Verdana, sans-serif;
  letter-spacing: 1.5px;
}

.Nav-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  border-radius: 10px;
  border: 1px solid rgb(215, 215, 215);
}
