* {
  margin: 0;
  padding: 0;
}

.mainBG {
  position: relative;
  overflow: hidden;
  height: calc(100vh - 56px);
  object-fit: cover;
  margin-left: -69px;
  margin-right: -68px;
}

.videoBG {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.text-container {
  position: absolute;
  top: 40vh;
  left: 0%;
  right: 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  text-align: center;
  text-shadow: 0 0 5px #444;
}

.landing-page-button {
  background-color: #b9e6a2;
  border: 0;
  padding: 8px 0px 8px;
  width: 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
}

.landing-page-button:hover {
  background-color: #b9e6a2;
  font-weight: 400;
  color: rgb(78, 78, 78);
}

.font {
  font-family: Helvetica Neue, Tahoma, Verdana, sans-serif;
  letter-spacing: 1.5px;
}

div p {
  padding: 0 0 20px;
}
